[submodule "frontend"]
	path = frontend
	url = https://github.com/renojcpp/cs3560-patient-subsystem-front.git
[submodule "backend"]
	path = backend
	url = https://github.com/renojcpp/cs3560-patient-subsystem-back.git
